[client]
#password	= your_password
port		= 3306
socket		= /tmp/mysql.sock
local_infile=ON

[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
slow_query_log = ON
log-error   = /var/log/mysql/mysqld.log
innodb_undo_tablespaces = 1
local_infile=ON
secure_file_priv=''

skip-grant-tables

